.git
.venv
venv
env
mobile
api
tests
mongo_data
node_modules

backend/vision/batch_results
backend/vision/cvat_auto_labeled_dataset
backend/vision/debug_artifacts
backend/vision/annotated_results
backend/vision/test_images
backend/vision/detector_dataset
backend/vision/detector_dataset_converted
backend/vision/detector_dataset_merged
backend/vision/feedback_dataset

runs
data.yaml
yolo26n.pt